.header {
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(238, 108, 77);
  letter-spacing: -2px;
  margin: 0 auto 0 5rem;
  cursor: pointer;
  text-decoration: none;
}

ul {
  display: flex;
  margin-right: 3rem;
  list-style: none;
}

ul li a {
  font-size: 1.25rem;
  color: rgb(146, 145, 145);
  text-decoration: none;
  margin-right: 2rem;
}

ul li a:hover {
  color: rgb(238, 108, 77);
}

.active {
  color: rgb(238, 108, 77);
}

@media (max-width: 450px) {
  .header {
    height: 3rem;
    justify-content: center;
  }

  .logo {
    margin: 0 auto 0 17px;
  }

  ul {
    margin: 0;
  }

  ul li a {
    font-size: 1.2rem;
    color: rgb(146, 145, 145);
    text-decoration: none;
    margin-right: 1rem;
  }
}
